{{!-- Menu --}}
<header>
    <div class="ui segment">
        <div class="ui secondary pointing menu">
            <a class="item" href="/sds/home">
                <img class "ui mini image" src="\public\images\sds-mini-logo.png"></a>
            <a class="item {{#if patients}} active {{/if}}" href="/sds/patients" style="color:#005461;">
                <i class="address book outline icon"></i>Os meus pacientes</a>

            <div class="right menu">
                {{#if userAuthen}}
                <div class="item">Bem vindo, {{userAuthen}}</div>
                <a class="item" href="/logout">
                    <i class="sign out alternate icon"></i>Sair</a>
                {{else}}
                <button id="sign-in-btn" class="ui button item">
                    <i class="sign in alternate icon"></i>Iniciar Sessão</button>
                {{/if}}
            </div>
        </div>
    </div>
    {{>signInForm}}
    {{>signUpForm}}
</header>