{{!-- Sign Up form --}}
<div class="ui modal sign-up-form">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img class="image" src="\public\images\sds-mini-logo.png">
                <div class="content">Novo Utilizador</div>
            </h2>
            <form class="ui large form" method="POST" action="/signup">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large submit button">Registar</div>
                </div>

                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>