{{!-- Sign in form --}}
<div class="ui modal sign-in-form">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img class="image" src="\public\images\sds-mini-logo.png">
                <div class="content">Autenticação</div>
            </h2>
            <form class="ui large form" method="POST" action="/sds/api/v1/login">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="name" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large submit button">Autenticar</div>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                Ainda não tem conta?
                <button id="sign-up-btn" class="ui button item">
                    <i class="user md icon"></i>Registe-se!</button>
            </div>
        </div>
    </div>
</div>