{{!-- index --}}
<header>
    {{!-- {{>menu home="active"}} --}}
</header>
<main class="site-content">
    <div class="ui segment">
        <div class="ui two column grid container">
            {{!-- <div class="column middle aligned">
                <div class="ui small image floated right"><img src="\public\images\favicon.ico"></div>
            </div> --}}
            <div class="column middle aligned">
                <h1 style="display: inline">SDS</h1>
                <div><h3 style="display: inline">Sistema Digital de Saúde</Other></h3></div>
                    <div class="ui card">
                    <div class="content">
                        <div class="center aligned header"> PS | 1819v | Grupo 21 </div>
                    </div>
                    {{!-- <div class="extra content">
                        <div class="center aligned author">
                            <img class="ui spaced avatar image" src="https://www.gravatar.com/avatar/9998a232cf507a25f04a3db55afc1dca?s=150&r=g&d=mm"> 37831@alunos.isel.ipl.pt
                        </div>
                        <div class="center aligned author">
                            <img class="ui spaced avatar image" src="https://www.gravatar.com/avatar/5b10ffe5e948a2757cfd1f4a274dc104?s=150&r=g&d=mm"> 39618@alunos.isel.ipl.pt
                        </div>
                        <div class="center aligned author">
                            <img class="ui spaced avatar image" src="https://www.gravatar.com/avatar/e796063b9def19a58490f7bcdff58186?s=150&r=g&d=mm"> 40912@alunos.isel.ipl.pt
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</main>