{{!-- home --}}
{{>menu}}
<main class="site-content">
    <div class="ui segment light-bg">
        <div class="ui two column grid container">
            <div class="column middle aligned">
                <div class="ui image floated right"><img src="\public\images\sds-logo.png"></div>
            </div>
            <div class="column middle aligned">
                <h1 style="display: inline">SDS</h1>
                <div><h3 style="display: inline">Sistema Digital de Saúde</Other></h3></div>
                    <div class="ui card">
                    <div class="content">
                        <div class="center aligned header"> PS | 1819v | Grupo 21 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{>signInForm}}