<!DOCTYPE html>
<html>
    <head>
        <title>
            SDS | Sistema Digital de Saúde
        </title>
        {{>head}}
    </head>
    <body class="site">
        {{{body}}}
        {{>footer}}
    </body>
</html>