{{!-- Patients List --}}
<header>
    {{> menu patients="active"}}
</header>
<main class="site-content">
    <div class="ui basic segment">
        {{#if hasPatients}}
        <div class="ui dark-static-color title item">
            <i class="users icon" style="margin-right: 8.5px !important"></i>Pacientes</div>
        {{else}}
        <div class="ui dark-static-color title item">
            <i class="exclamation triangle icon" style="margin-right: 8.5px !important"></i>Não tem pacientes
            associados!</div>
        {{/if}}
        <button class="ui right floated button" data-tooltip="Associe um novo paciente a si."
            data-position="left center">
            <a href="/sds/patient/create"><i class="plus icon"></i>Novo paciente</a>
        </button>
    </div>
    {{#if hasPatients}}
    <div class="ui basic segment">
        <div class="ui two column very relaxed grid">
            <div class="column">
                <table class="ui very basic collapsing celled table">
                    <tbody>
                        {{#each patientsList}}
                        <tr>
                            <td class="collapsing">
                                <h4 id="patient-{{@index}}" class="ui dark-color {{#match sdsID @root.target}} active selected {{/match}} header">
                                    <i class="user icon"></i>
                                    <div class="content">
                                        {{name}}
                                        <div class="sub header">({{sdsID}})</div>
                                    </div>
                                </h4>
                            </td>
                            <td></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div id="patient_info" class="column">
            </div>
        </div>
        <h4 id="patient_info_divider" class="ui vertical divider header">
        </h4>
    </div>
    {{/if}}
</main>