{{!-- Patients --}}
<header>
    {{> menu patients="active"}}
</header>
<main class="site-content">
    <div class="ui basic segment">
        <button class="ui right floated button" data-tooltip="Associe um novo paciente a si." data-position="left center">
            <a href="/sds/patient/create"><i class="plus icon"></i>Novo paciente</a>
        </button>
    </div>
</main>